/* header 开始 */



.trl {
  width: 100%;
  height: 4px;
}

.mbrl {
  width: 100%;
  height: 60px;
}

.lb {
  width: 1200px;
  height: 116px;
  margin: 0 auto;
}

.logo {
  width: 374px;
  height: 59px;
  display: block;
  margin-left: 54px;
  margin-top: 25px;
}

.tp {
  height: 60px;
  float: right;
  margin-right: 50px;
  margin-top: 25px;
  background: url(../images/telephone.png) no-repeat right center;
  padding-right: 80px;
  text-align: right;
}

.ffyh {
  font-size: 16.36px;
  line-height: 30px;
  color: #c5000a;
}

.tp p {
  font-family: "汉真广标";
  font-size: 27.27px;
  line-height: 30px;
  color: #c5000a;
}










.nb {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.fn {
  width: 238px;
  height: 60px;
  float: left;
  border-left: 1px solid #c5000a;
  border-right: 1px solid #c5000a;
}

.now {
  background: #fff !important;
  color: #c5000a !important;
}

.fn a {
  width: 100%;
  height: 60px;
  display: block;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
}

.sn {
  position: relative;
  width: 100%;
  height: 0;
  background: #dd1b25;
  z-index: 100;
  /*opacity: 0; 去掉这个透明效果，显示效果将是直接下拉展开，没有渐隐 */
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  overflow: hidden;
}

.sn a.link2 {
  width: 100%;
  height: 0;
  display: block;
  font-size: 14px;
  line-height: 39px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.fn:hover a.link1 {
  background: #fff;
  color: #c5000a;
}

.fn:hover .sn {
  height: 39px;
  opacity: 1;
}

.fn:hover a.link2 {
  height: 100%;
  line-height: 39px;
  opacity: 1;
}

a.link2:hover {
  color: #dd1b25;
  transition: none;
}


a.link2 span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 238px;
  height: 39px;
  text-align: center;
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
}

.sn a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 238px;
  height: 39px;
  text-align: center;
  background: #fff;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-100%);
}

.sn a:hover span,
.sn a:focus span {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
}

.sn a:hover::before,
.sn a:focus::before {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}











/* header 结束 */









/* banner 开始 */

#banner {
  width: 1200px;
  height: 540px;
  margin: 0 auto;
  position: relative;
}

/* banner 样式结束 */
 .banner-container {
        width: 1920px;
        height: 540px;
        position: absolute;
        left: -360px;
    }
    .banner-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        background: url(../images/bannerIcon.png);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: url(../images/bannerIconNow.png);
    }




/* main 样式开始 */
.main-pro {
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
}


.leftMenu {
  width: 247px;
  position: relative;
  margin-top: 20px;
}

.leftMenu p {
  font-size: 22px;
  position: absolute;
  left: 170px;
  top: 47px;
}

.leftMenuTop {
  width: 247px;
  height: 91px;
}

.leftMenuBottom {
  width: 247px;
  height: 102px;
}


.leftMenuNow {
  background: #c5000a;
}
.leftMenuNow a {
  color: #fff !important;
}

.leftMenuNow a:after {
  color: #fff !important;
}

.pro a {
  color: #c5000a;
  padding-left: 25px;
  font-size: 16px;
  line-height: 33px;
  display: block;
  transition: all 0.18s;
}

.pro a:after {
  content: "—";
  margin-left: 120px;
  color: #c5000a;
}


.pro {
  width: 245px;
  border-left: 1px solid #d7d7d6;
  border-right: 1px solid #d7d7d6;
  margin-top: 1px;
  float: left;
}

.pro a:hover {
  background: #c5000a;
  color: #fff;
}

.pro a:hover:after {
  color: #fff;
}

.leftInfo {
  width: 247px;
  margin-top: 54px;
}

.cont {
  height: 22px;
  background-position: 7px 0;
  border-bottom: 1px solid #c5000a;
  padding-left: 40px;
  margin-top: 7px;
  font-size: 14px;
  line-height: 22px;
}

.contAddress {
  background: url(../images/lianxidizhi.png) no-repeat;
}

.contPhone {
  background: url(../images/lianxidianhua.png) no-repeat;
}

.shengChanShang {
  background: url(../images/shengchanshang.png) no-repeat;
}

.leftInfo p {
  font-size: 14px;
  line-height: 22px;
  color: #8a8886;
}












.threeBox {
  width: 1065px;
  height: 378px;
  margin-top: 55px;
}
.box1 {
  width: 285px;
  height: 378px;
  margin: 0 35px;
  float: left;
}

.box1 a {
  width: 285px;
  height: 93px;
  display: block;
  line-height: 93px;
  text-align: center;
  font-size: 24px;
}




.warp {
  width: 100%;
  height: 722px;
  background: #eeedeb;
  margin-top: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 87px;
  position: relative;
}
.jkyText {
  font-size: 48px;
  color: #3e3e3e;
  text-align: center;
}

.jkyText2 {
  font-size: 26px;
  color: #959595;
  text-align: center;
  margin-top: 11px;
}

.model {
  width: 576px;
  height: 382px;
  margin: 100px auto;
  margin-bottom: 0;
}

.sixBar {
  width: 207px;
  padding-left: 80px;
  font-size: 22px;
  line-height: 30px;
  text-align: justify;
  color: #000;
  position: absolute;
}

.sixBar1 {
  top: 320px;
  background: url(../images/sixPart1.png) no-repeat;
}

.sixBar2 {
  top: 460px;
  background: url(../images/sixPart1.png) no-repeat;
}

.sixBar3 {
  top: 600px;
  background: url(../images/sixPart1.png) no-repeat;
}

.sixBar4 {
  top: 220px;
  right: 0;
  background: url(../images/sixPart1.png) no-repeat;
}

.sixBar5 {
  top: 360px;
  right: 0;
  background: url(../images/sixPart1.png) no-repeat;
}

.sixBar6 {
  top: 500px;
  right: 0;
  background: url(../images/sixPart1.png) no-repeat;
}






.gb-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 0;
}

.greenBar {
  width: 1920px;
  height: 180px;
  position: absolute;
  left: -360px;
  background: url(../images/greenBar.jpg) no-repeat;
}






.warp2 {
  width: 100%;
  height: 699px;
  margin-top: 180px;
}

.container2 {
  width: 1200px;
  margin: 0 auto;
  padding-top: 87px;
  position: relative;
}
.fywText {
  font-size: 48px;
  color: #3e3e3e;
  text-align: center;
}

.fywText2 {
  font-size: 26px;
  color: #959595;
  text-align: center;
  margin-top: 11px;
}


.warp2-container {
  width: 728px;
  height: 358px;
  margin-left: 61px;
  margin-top: 55px;
  float: left;
}


.ww-redline {
  width: 1px;
  height: 358px;
  background: #ea363f;
  margin-left: 53px;
  margin-top: 55px;
  float: left;
}





.model2Text {
  width: 290px;
  height: 263px;
  margin-left: 57px;
  margin-top: 65px;
  font-family: Microsoft YaHei;
  font-size: 22px;
  color: #575656;
  line-height: 38px;
  float: left;
}

.knowMore {
  width: 191px;
  height: 52px;
  margin-left: 57px;
  margin-top: 32px;
  background: url(../images/knowMore.png);
  float: left;
  position: relative;
}

.knowMoreA {
  width: 191px;
  height: 52px;
  cursor: pointer;
}

.knowMoreText {
  width: 115px;
  height: 14px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 62px;
  top: 15px;
}

/* main 样式结束 */





.ft-t { 
  width:100%; 
  height:220px; 
  background:#c9c9c9;
}

.ft-tc { 
  width:1150px; 
  margin:0 auto; 
  overflow:hidden;
}

.ft-l { 
  width:475px; 
  text-align:center; 
  color:#393939; 
  float:left;
}

.ft-l .ft-lt { 
  font-size:25px; 
  line-height:30px; 
  padding-top:30px;
}

.ft-l .ft-lt p { 
  font-size:18px;
}

.ft-l .ft-lb { 
  margin-top:22px; 
  font-size:14px; 
  line-height:30px;
}

.ft-c { 
  width:128px; 
  float:left; 
  text-align:center; 
  font-size:13px; 
  line-height:40px; 
  color:#393939;
} 

.ft-c img { 
  margin-top:25px;
}

.ft-r { 
  float:left; 
  width:545px; 
  margin-top: 30px;
}

.ft-rc { margin:0 auto; 
  width:430px; 
  text-align:center;
}

.ft-rc ul { 
  float:left; 
  margin:0px 18px; 
  width:70px; 
  line-height:30px;
} 


.ft-rc .ft-tit { 
  font-size:17px; 
  line-height:30px; 
  width:430px;
}

.ft-rc .ft-tit li { 
  float:left; 
  margin-right:36px; 
  width:70px;
}

.ft-b { 
  background:#393939; 
  width:100%; 
  height:40px;
}

.ft-bc {
  width:1150px; 
  margin:0 auto; 
  font-size:14px; 
  line-height:40px; 
  color:#fff; 
  text-align:center;
}

.ft-bc span { 
  margin:0px 40px;
}

.ft-bc a { 
  color:#fff;
}
