/* header 开始 */



.trl {
  width: 100%;
  height: 4px;
}

.mbrl {
  width: 100%;
  height: 60px;
}

.lb {
  width: 1200px;
  height: 116px;
  margin: 0 auto;
}

.logo {
  width: 374px;
  height: 59px;
  display: block;
  margin-left: 54px;
  margin-top: 25px;
}

.tp {
  height: 60px;
  float: right;
  margin-right: 50px;
  margin-top: 25px;
  background: url(../images/telephone.png) no-repeat right center;
  padding-right: 80px;
  text-align: right;
}

.ffyh {
  font-size: 16.36px;
  line-height: 30px;
  color: #c5000a;
}

.tp p {
  font-family: "汉真广标";
  font-size: 27.27px;
  line-height: 30px;
  color: #c5000a;
}










.nb {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.fn {
  width: 238px;
  height: 60px;
  float: left;
  border-left: 1px solid #c5000a;
  border-right: 1px solid #c5000a;
}

.now {
  background: #fff !important;
  color: #c5000a !important;
}

.fn a {
  width: 100%;
  height: 60px;
  display: block;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
}

.sn {
  position: relative;
  width: 100%;
  height: 0;
  background: #dd1b25;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  overflow: hidden;
}

.sn a.link2 {
  width: 100%;
  height: 0;
  display: block;
  font-size: 14px;
  line-height: 39px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.fn:hover a.link1 {
  background: #fff;
  color: #c5000a;
}

.fn:hover .sn {
  height: 39px;
  opacity: 1;
}

.fn:hover a.link2 {
  height: 100%;
  line-height: 39px;
  opacity: 1;
}

a.link2:hover {
  color: #c5000a;
}


span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 238px;
  height: 39px;
  text-align: center;
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
}

.sn a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 238px;
  height: 39px;
  text-align: center;
  font-weight: bold;
  background: #fff;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-100%);
}

.sn a:hover span,
.sn a:focus span {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
}

.sn a:hover::before,
.sn a:focus::before {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}











/* header 结束 */









/* banner 开始 */

#banner {
  width: 1200px;
  height: 540px;
  margin: 0 auto;
  position: relative;
}

.bannerContainer {
  width: 1920px;
  height: 540px;
  position: absolute;
  left: -360px;
  top;0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  z-index: 10;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide a {
  width: 1920px;
  height: 540px;
}

.swiper-pagination-bullet {
  height: 30px;
  width: 30px;
  background: url(../images/bannerIcon.png);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: url(../images/bannerIconNow.png);
}
/* banner 样式结束 */